.heroSection{
    background-image: url('../Images/hero\ section.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-repeat: no-repeat;
}
.heroSection div{
    backdrop-filter: blur(3px);
    padding: 20px;
}
.underLine{
    width: 500px;
    height: 3px;
    background-color: #f0f0f0;
    margin: 5px auto;
    border-radius: 20px;
}
.underLine-short{
    width: 150px;
    height: 3px;
    background-color: #f0f0f0;
    margin: 5px auto;
    border-radius: 20px;
}
.workout-container{
    height: auto;
    width: 100%;
    border: 1px solid #f0f0f0;
    gap: 20px;
    border-radius: 10px;
}

.workout-outer-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.workout-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.workout-outer-img :hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.facility-splits{
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
    padding: 40px;
    box-shadow: 5px 10px 15px #313131;
}
.facilities-outer-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    flex-basis: 40%;
}
.facilities-outer-img :hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.facilities-text{
    flex-basis: 55%;
}
.facilties-paragraph{
    color: #f0f0f0;
    padding: 10px;
}
.underLine-topic{
    width: 140px;
    height: 3px;
    background-color: #f0f0f0;
    margin: 5px 0px 5px 50px;
    border-radius: 20px;
}

.about-outer-img{
    height: 400px;
    width: 100%;
    overflow: hidden;
    flex-basis: 30%;
}
.about-outer-img :hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.miidle-container{
    flex-direction: column;
    flex-basis: 40%;
}
.about-middle-outer-img{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.about-middle-outer-img :hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.contactus{
    background-image: url(https://i.pinimg.com/736x/34/18/60/341860b14a97fee2f9ea91648ea40611.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-form{
    padding: 40px;
    backdrop-filter: blur(3px);
}